version: '3.8'

services:
    app:
        image: your_dockerhub_username/bank_api:latest
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "80:80"
        environment:
            - DATABASE_URL=postgresql://symfony:password@postgres:5432/symfony_db
        depends_on:
            - postgres
        networks:
            - app-network

    postgres:
        image: postgres:15-alpine
        environment:
            POSTGRES_DB: symfony_db
            POSTGRES_USER: symfony
            POSTGRES_PASSWORD: password
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - app-network

volumes:
    postgres_data:

networks:
    app-network:
        driver: bridge
